/* Font import */
@font-face {
  font-family: HelveticaNeue;
  src:  url('/fonts/helveticaneue-bold.ttf') format("truetype"),
        url('/fonts/helveticaneue-bold.woff') format("woff"),
        url('/fonts/helveticaneue-bold.woff2') format("woff2");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: ABCHoneymoon;
  src:  url('/fonts/ABCHoneymoonUnlicensedTrial-Monoline.otf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

*, *::before, *::after {
  box-sizing: border-box;
  -webkit-tap-highlight-color:transparent;
}
* {
  margin: 0;
}
:root{
  --black: #000;
  --white: #fff;
  --gutter: 2.3rem;
  --margin: 1rem;
  --aspectRatio: 2 / 3;
  --transition: cubic-bezier(.77,0,.175,1) 300ms;
}
html {
  font-family: HelveticaNeue, Helvetica, Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(12px, 1.015625vw, 15px);
  font-weight: 600;
  line-height: 1.431;
  letter-spacing: 0;
  color: var(--black);
  background-color: var(--white);
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
button {
  -webkit-appearance: none;
  border-radius: 0;
  text-align: inherit;
  background: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
  border: none;
  color: inherit;
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
ul, ol {
  list-style: none;
  padding:0;
}

a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
@media screen and (min-width: 701px) {
  a:hover {
    color: var(--hoverColor);
  }
}
a:-webkit-any-link.underline,
a:any-link.underline,
.underline {
  text-decoration: underline;
}
.honeymoon-120 {
  font-family: ABCHoneymoon, Brush Script MT, 'Courier New', Courier, monospace;
  font-weight: 400;
  font-size: clamp(0px, 10vw, 140px);
  letter-spacing: 0;
  line-height: .8;
}
.honeymoon-24 {
  font-family: ABCHoneymoon, Brush Script MT, 'Courier New', Courier, monospace;
  font-weight: 600;
  font-size: 1.846rem;
  letter-spacing: 0;
  line-height: .8;
  -webkit-font-smoothing: subpixel-antialiased;
}
.helvetica-13 {
  font-size: 1rem;
  letter-spacing: 0;
  line-height: 1.431;
}

.hidden {
  display: none !important;
}
.mobile-only {
  display: none;
}
@media screen and (max-width: 700px) {
  :root {
    --gutter: .76rem;
  }
  .honeymoon-120 {
    font-size: 19.5vw;
  }
  .mobile-only {
    display: unset;
  }
  .desktop-only {
    display: none !important;
  }
}
@media screen and (max-width: 360px) {
  .honeymoon-120 {
    font-size: 18.5vw;
  }
}